<h1>Users#index</h1>
<h1>User List</h1>
<% @users.each do |user| %>
<hr />
<div id="user">
	<%= user.email %>
	<%= link_to user.email, user %>
</div>	
<% end %>
<p>Find me in app/views/users/index.html.erb</p>
